.form-divider {
  width: 1px;
  background-color: #F6F7F8;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 20px;
  background-color: #ddd;
  margin: 0 20px;
}

.required { color: red; }

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.header {
  background-color: #ffffff;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd;
}

.user-circle {
  border: 2px solid #2a3647;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 60px 120px;
  height: 100%;
}

.task-form {
  display: flex;
  padding-top: 70px;
  row-gap: 40px;
  column-gap: 40px;
}

.form-left,
.form-right {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  column-gap: 16px;
  flex: 1 1 auto;
}

input[type="text"],
textarea {
  padding: 10px;
  border: unset;
  border: 1px solid #cccccc;
  border-radius: 8px;
  width: 100%;
}

.date-wrapper { 
  position: relative; 
}

.icon-calendar {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  width: 20px;
  height: 20px;
}

.priority-options { 
  display: flex; 
  gap: 10px; 
}

.priority {
  padding: 10px 16px;
  border-radius: 10px;
  background-color: #F6F7F8;
  color: #000;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.priority:hover { 
  transform: scale(1.05); 
  box-shadow: 0 4px 10px rgba(0,0,0,.15); 
}

.priority img { transition: filter .1s ease; }
.priority.urgent img { filter: brightness(0) saturate(100%) invert(34%) sepia(88%) saturate(7494%) hue-rotate(356deg) brightness(101%) contrast(105%); }
.priority.medium img { filter: brightness(0) saturate(100%) invert(63%) sepia(79%) saturate(638%) hue-rotate(1deg) brightness(105%) contrast(104%); }
.priority.low img { filter: brightness(0) saturate(100%) invert(76%) sepia(72%) saturate(357%) hue-rotate(76deg) brightness(91%) contrast(98%); }

.priority.selected.urgent { background:#FF3B3B; color:#fff; }
.priority.selected.medium { background:#FFA800; color:#fff; }
.priority.selected.low { background:#7AE229; color:#fff; }
.priority.selected img { filter: brightness(0) invert(1); }

.dropdown.full-expandable {
  position: relative;
  border: unset;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.12s ease;
  transform: translateY(-10px);
}

.dropdown.full-expandable.open .dropdown-menu {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  margin-top: 10px;
  position: absolute;
  z-index: 100;
}

.subtasks { 
  position: relative; 
  display: flex; 
  align-items: center; 
}

#subtask-input {
  flex: 1 1 auto;
  padding: 10px 90px 10px 10px;
  border: unset;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.subtask-icons { 
  position: absolute; 
  right: 10px; 
  display: flex; 
  gap: 8px; 
}

.form-footer { 
  display: flex; 
  justify-content: space-between; 
  padding-top: 140px; 
}

.form-actions {
  display: flex;
  gap: 16px;
  position: sticky;
  bottom: 16px;
  z-index: 1500;
  background: #fff;
  padding: 0;
}

.form-actions button img { 
  width: 14px; 
  height: 14px; 
}

.clear-btn, .create-btn {
  padding: 12px 25px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: unset;
  cursor: pointer;
  transition: all .1s ease;
}

.clear-btn { 
  background: #fff; 
  border: 1px solid #ccc; 
}

.create-btn { 
  background: #2a3647; 
  color: #fff; 
}

.clear-btn:hover {
  border-color: #29ABE2; 
  color: #29ABE2; 
  background:#fff;
  transform: translateY(-2px); 
  box-shadow: 0 6px 12px rgba(0,0,0,.08);
}

.create-btn:hover {
  background:#29ABE2; 
  transform: translateY(-2px); 
  box-shadow: 0 6px 12px rgba(0,0,0,.08);
}

@media (max-width: 945px) {
  .form-divider { 
    display: none; 
  }

  .add-task-container { 
    padding: 24px 16px 160px; 
  }

  .task-form { 
    flex-direction: column; 
    padding-top: 20px; 
    gap: 24px; 
  }

  .form-left, .form-right { 
    width: 100%; 
  }

  .form-actions { 
    position: static; 
    width: 100%; 
    justify-content: space-between; 
    padding-top: 20px; 
  }
}