.addTaskDialog {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  border: unset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addTaskDialog::backdrop {
  background-color: rgba(0, 0, 0, 0.05);
}

.addTaskDialogContent {
  background: white;
  padding: 8px;
  border-radius: 12px;
}

dialog:not([open]) {
  display: none;
}

@media (max-width: 945px) {
  .addTaskDialog {
    display: none;
  }

  .td-assignees {
    max-height: 132px;
  }
}
