.addTaskDialog {
  border: unset;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  right: 0;
  bottom: 0;
}

/* .addTaskDialog::backdrop {
  width: 100%;
  height: 100%;
} */

.addTaskDialogContent {
  background: white;
  padding: 8px;
  border-radius: 12px;
}

.addTaskDialog:-internal-dialog-in-top-layer::backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.05);
    inset: 0px;
    width: 100vw;
    height: 100vh;
}
