@media (max-width: 1300px) {
  .contact-list-container {
      min-width: 40%;
  }
  
  .first-letter-container,
  .personal-ad {
      width: 95%;
  }

  .add-contact-btn {
      width: 90%;
  }

  .contact-team-container {
      gap: 10px;
  }

  .contact-team-container h1 {
      font-size: 50px;
  }

  .contact-team-container p {
      font-size: 22px;
  }

  .contact-form-name {
      font-size: 38px;
  }

  .contact-form-circle {
      height: 100px;
      width: 100px;
      font-size: 40px;
  }
} 

@media (max-width: 1050px) {
  .show-contact-container {
      padding-left: 24px;
  }

  .add-contact-btn {
      width: 95%;
  }

  .personal-ad {
      width: 100%;
  }

  .contact-team-container h1 {
      font-size: 40px;
  }
}

@media (min-width: 945px) {
  .add-contact-mobile {
      display: none !important;
  }
}

@media (max-width: 945px) {
  .add-contact-mobile {
      position: absolute;
      bottom: 124px;
      right: 24px;
  }

.show-contact-container {
  display: none;
}

.add-contact-btn {
  display: none;
}

.contact-list-container {
    min-width: 100%;
    padding: 24px;
}

.first-letter-container,
.personal-ad {
  width: 90%;
}

.person-circle {
  height: 42px !important;
  width: 42px !important;
}

.personal-data {
  display: flex;
  flex-direction: column;
}

}

@media (max-width: 400px) {
  .contact-list-container {
      padding: 8px;
  }

  .personal-ad {
      gap: 16px;
      padding: 16px 20px 16px 20px;
  }
}