@keyframes toLeftTopFirst {
    0% {
        transform: translate(0, 0) rotate(0deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-90px, -390px) scale(0.7);
        opacity: 0;
        display: none;
    }
}

@keyframes toLeftTopSecond {
    0% {
        transform: translate(0, 0) rotate(0deg) scale(1);
        opacity: 0;
    }

    100% {
        transform: translate(-90px, -390px) scale(0.7);
        opacity: 1;
    }
}

@keyframes backgroundFadeIn {
    0% {
        background-color: var(--resp-backgroundFirst-color);
        opacity: 1;
    }

    100% {
        background-color: var(--resp-backgroundSecond-color);
        opacity: 0;
        visibility: hidden;
    }
}